{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"@nuxtjs/eslint-config-typescript",
		"plugin:nuxt/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"vue/multi-word-component-names": 0,
		"import/order": 0,
		"@typescript-eslint/no-implicit-any-catch": "off",
		"vue/no-v-model-argument": "off",
		"vue/prop-name-casing": "off",
		"no-console": "off",
		"vue/no-multiple-template-root": "off",
		"vue/no-v-html": "off"
	},
	"ignorePatterns": ["nuxt.config.ts"]
}


